{{> navbar }}

  {{#each courses as |course|}}
  <div class="container ">
    <article class="col card" style="max-width: 25vw; margin-bottom: 5px">
      <div class="card-header">
        <p {{course.course_url}}>{{course.title}}</p>
        <span>({{course.course_url}})</span>
      </div>
      <div class="card-footer">
        {{course.user.username}} | <a href="/course/{{course.id}}"><h4>Edit</h4></a>
      </div>
    </article>
  </div>
  {{/each}}






