<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

{{> navbar }}

<main role="main" class="d-flex justify-content-center">
  <div class="container signup-form d-flex flex-column justify-content-center align-items-center">
    <p class="course-title">{{course.title}}</p>   
    <p class="course-url">{{course.course_url}}{{student.quiz}}</p> 
    <button type="button" class="btn btn-outline-dark rounded-pill bg-info delete-course-btn">Delete Course</button>
  </div>
  <form class="container signup-form d-flex flex-column justify-content-center">
    <h2 style="color: white">Add Student</h2>
    <div class="d-flex  flex-row align-items-center">
        <label for="student-name"><h4>Name:</h4></label>
        <input class="input_add" type="text" id="student-name" placeholder="Enter Name"/>
    </div>
    <div class="d-flex flex-row  align-items-center">
        <label for="quiz"><h4>Quiz:</h4></label>
        <input class="input_number" type="quiz" id="quiz"/>
    </div>
    <div class="d-flex flex-row  align-items-center">
        <label for="homework"><h4>Homework:</h4></label>
        <input class="input_number" type="homework" id="homework"/>
    </div>
    <div class="d-flex flex-row  align-items-center">
        <label for="tests"><h4>Tests:</h4></label>
        <input class="input_number" type="tests" id="tests"/>
    </div>
    <div class="d-flex flex-row align-items-center">
        <label for="days-absent"><h4>Days Absent:</h4></label>
        <input class="input_number" type="days-absent" id="days-absent"/>
    </div>
    <div>
        <button class="btn btn-outline-dark rounded-pill bg-info" type="submit">Add</button>
    </div>
</form>
  </div>
</main>


<div class="container" style="width:75vw; background-color: rgba(255, 255, 255, 0.637); margin-bottom: 50px">
  <table class="display" style="height: 25vh; width:70vw; background-color: rgba(255, 255, 255, 0.774);" >
    <thead style="background-color: rgba(0, 0, 0, 0.226);">
      <tr>
        <th>Student</th>
        <th>Quiz</th>
        <th>Homework</th>
        <th>Tests</th>
        <th>Days Absent</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr>
        <td>{{student.name}}</td>
        <td>{{student.quiz}}</td>
        <td>{{student.homework}}</td>
        <td>{{student.tests}}</td>
        <td>{{student.days_absent}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="/javascript/delete-course.js"></script>

<script>

  $(document).ready(function() {
    $('.display').DataTable({
      'searching': false,
      'info': false,
      "lengthMenu": [[5], [5]]
    });
} );

</script>

